<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".php" />
            <mimeMap fileExtension=".xor" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ps1" mimeType="application/octet-stream" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".bat" allowed="true" />
                    <add fileExtension=".ps1" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
