<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".xor" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ps1" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".php" mimeType="application/octet-stream" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".bat" allowed="true" />
                    <add fileExtension=".ps1" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
