<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".bin" />
            <remove fileExtension=".dll" />
            <remove fileExtension=".exe" />
            <mimeMap fileExtension=".ps1" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".xor" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".raw" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".php" mimeType="application/octet-stream" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
